body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-shadow: 0 0 10px rgba(255, 223, 128, 0.5);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #ffdf80;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffd12a;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #555;
}

th {
  background-color: #333;
  color: #fff;
}

#weatherTable,
#aqiTable {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

/* Additional styling for AQI table */
#aqiTable th,
#aqiTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #555;
}

#aqiTable th {
  background-color: #333;
  color: #fff;
}
#aqiChoice {
  margin-bottom: 10px; /* Adjust the value as needed */
}
